<h1>{{ title }}</h1>
<section>
  <app-modal></app-modal>
</section>
<section *ngIf="users.length">
  <table class="table table-striped">
    <tr class='table-dark'><th scope="col">N.</th><th scope="col">Nom</th><th scope="col">Cognom</th><th scope="col">Correu electrónic</th><th>Eliminar</th></tr>
    <tr *ngFor="let user of users; let i = index; let even = even" [ngClass]="{'altern': !!even}">
      <th (click)="enviaFormulary(i)">{{ i + 1 }}</th><th (click)="enviaFormulary(i)">{{ user.nom }}</th><th (click)="enviaFormulary(i)">{{ user.cognom }}</th><th (click)="enviaFormulary(i)">{{ user.email }}</th><th><input type="button" class="clear" (click)="delUsuari(i)" value='<--'></th>
    </tr>
  </table>
</section>
<section *ngIf="!users.length" class="empty">
  <br/>
  <h3>No tens registres en la bbdd localSotrage</h3>
</section>
<section>
  <app-message></app-message>
</section>
