
input[type="button"] {
  width:3rem;
  font-size: 1.5rem;
  padding : .05rem;
  border-radius: .05rem;
  background: #8b0c03;
  color: #cbd6ec;
}
input[type="button"]:hover {
  border: #a7a69d solid .2rem;
  background: #a7a69d;
  color: #029444
}
.empty {
  margin-top: 2rem;
  color:#8b0c03;
}
table {
  margin: auto;
  background: #cbffcb;
  text-align: center;
  border:#8170be solid .2rem;
  width: 94%;
  border-radius: 1rem;
  box-shadow: .3rem .3rem .3rem rgba(1,1,1,0.75);
}
th {
  border:#8170be solid .2rem;
  padding: .4rem;
}
td {
  cursor: pointer;
}
tr:not(:first-child):hover {
  background: #117611;
  color:#fcfcfc;
}
.altern {
  background: #8e7bd1;
}
section {
  display: block;
  margin: .1rem auto;
  width:100%;
  padding: .25%;
}

@media only screen and (min-width: 780px) {
  section{width:50%;}
}
@media only screen and (min-width: 1280px) {
  section {width:35%;}
}
